
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <!-- <!-- <link rel="stylesheet" type="text/css" href="css/index.css" /> --> 
    <title>Go-Obat</title>


    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/owl.carousel.css" rel="stylesheet">
    <link href="../../css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="../../css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="../../css/custom.css" rel="stylesheet">

    <script src="../../js/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="../../index.html" class="glyphicon glyphicon-chevron-left" > Kembali ke Beranda</a>
            </div>
           
        </div>


    </div>

    <!-- *** TOP BAR END *** -->


    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li><a href="#">Home</a>
                        </li>
                        <li>BUAT AKUN BARU</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>BUAT AKUN BARU</h1>



                        <p class="lead">Informasi Pribadi Anda</p>
                        <p style="color:red"> *Kolom wajib diisi</p>
                        <hr>

						<form  action="javascript:signup()" id='formRegister'>
                            <div class="form-group">
								<label  for="gender">Gelar</label>
								<div>
									<label class="radio-inline" for="gender-0">
										<input type="radio" name="gender" id="gender-0" value="1" checked="checked">
										Mr.
									</label> 
									<label class="radio-inline" for="gender-1">
										<input type="radio" name="gender" id="gender-1" value="2">
										Mrs.
									</label> 
									<label class="radio-inline" for="gender-2">
										<input type="radio" name="gender" id="gender-2" value="3">
										Saudara
									</label> 
									<label class="radio-inline" for="gender-3">
										<input type="radio" name="gender" id="gender-3" value="4">
										Saudari
									</label>
								</div>
							</div>
							<div class="form-group">
                                <label for="firstname">Nama Depan</label>
                                <input type="text" class="form-control" id="firstName" name='firstName' required>
								<label id='messages'></label>
                            </div>
							
							<div class="form-group">
                                <label for="lastname">Nama Belakang</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"required>
								<label id='messages'></label>
                            </div>
						
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email"  name="email" required>
								<label id='messages'></label>
                            </div>
                            <div class="form-group">
                                <label for="password" >Password</label>
                                <input type="password" class="form-control" id='password' name='password' required>
								<label id='messages'></label>
                            </div>
							
							<div class="text-center">
								<button	 class="btn btn-primary" id="signup"><i class="fa fa-user-md"></i> Submit</button>
                            </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">OTENTIKASI</p>
                        <p class="text-muted">Silahkan Login</p>

                        <hr>

                        <form action="javascript:doLogin(this)">
							<div class="form-group" >
								<label id='pesan' style="color:red"></label>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="username" placeholder="Masukan alamat email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="sandi" placeholder="Masukan kata sandiri" required>
                            </div>
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary"></input>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious.com</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    
    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->

	


<script src="../../js/webservice.js"></script>
<script src="../../js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>

    <script src="../../js/js/bootstrap.min.js"></script>
    <script src="../../js/js/jquery.cookie.js"></script>
    <script src="../../js/js/waypoints.min.js"></script>
    <script src="../../js/js/modernizr.js"></script>
    <script src="../../js/js/bootstrap-hover-dropdown.js"></script>
    <script src="../../js/js/owl.carousel.min.js"></script>
    <script src="../../js/js/front.js"></script>
	<script src="../../js/md5.min.js"></script>
	<script src="../../js/form.js"></script>
	<script src="../../js/array.js"></script>
	<script src="../../controller/auth.js"></script>
	
<script src="../../js/js/bootstrapValidator.min.js"></script>
<script src="../../js/js/bootstrapValidator.js"></script>
	
</body>

</html>
<script type="text/javascript">
	webService.initialize();
	
	console.log(urlOngkir);
	console.log(keyOngkir);
	console.log(key);
	console.log(urlapi);
	var sortSelect = function (select, attr, order) {
		if(attr === 'text'){
			if(order === 'asc'){
				$(select).html($(select).children('option').sort(function (x, y) {
					return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
				}));
				$(select).get(0).selectedIndex = 0;
				//e.preventDefault();
			}// end asc
			if(order === 'desc'){
				$(select).html($(select).children('option').sort(function (y, x) {
					return $(x).text().toUpperCase() < $(y).text().toUpperCase() ? -1 : 1;
				}));
				$(select).get(0).selectedIndex = 0;
				//e.preventDefault();
			}// end desc
		}

	};
	
	keycode ='';
	$('#email').keydown(function(event){

		var keycode = (event.keyCode ? event.keyCode : event.which);
		if(keycode == '13'){
			alert('You pressed a "enter" key in textbox');
			value = $(this).val();
			promise5 = webService.filterPromiseJson ('customers','email',value);
			promise5.success(function(data, statusText, err){
				console.log($(data).length);
				if ($(data).length > 0){
					alert('email '+value+' sudah ada');
				}else{
					alert('sip oke');
				}
			});
			promise5.error(function(xhr, statusText, err){
				console.log('error');
			});
			
		}
		if(keycode == '9'){
			alert('You pressed a "tab" key in textbox');
			alert($(this).val());
		}else{keycode == '13'}
		
	
	});
	
	
	function signup(){
		objectData[2][1] = 1;
		objectData[2][2] = 2;
		objectData[2][8] = $('#password').val();
		objectData[2][11] = $('#lastName').val();
		objectData[2][12] = $('#firstName').val();
		objectData[2][13] = $('#email').val();
		objectData[2][14] = $('#gender').val();
		//objectData[2][13] = $('#DOB').val();
		promise = webService.create('customers');	
			promise.success(function(data){
			console.log($(data));
		});
	
		
		
		
		
	}
	
	
	
	function $_GET(param) {
			var vars = {};

			window.location.href.replace( location.hash, '' ).replace( 
				/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
				function( m, key, value ) { // callback
					vars[key] = value !== undefined ? value : '';
				}
			);

			if ( param ) {
				return vars[param] ? vars[param] : null;	
			}
			
			return vars;
	}
	
	function doLogin(){
	
		var username = $('#username').val();
		var password = $('#sandi').val();
		
		var hash = md5("gptxg2vzwk0t2jjx0yilim9ultkzcaxsb7ksw9lf9uka5g1rfm0hpk6d"+password);
		
		console.log(username+'    '+hash+'           '+password);
			var filterArray = ['email',username,'passwd',hash];
			idCustomer = webService.search('customers',filterArray);
			if ( idCustomer == 0 ){
				$("#pesan").prepend("Kombinasi salah!");
			}else{
				var filterArray = ['id_customer',idCustomer];
				var idAddress = webService.search('addresses',filterArray);
				localStorage.setItem('idCustomer',idCustomer);
				localStorage.setItem('idAddress',idAddress);
				if($_GET().back == 1){
						window.history.back();
					
				}
				window.location.replace("../../index.html");
			}

	}
	
	
    $('#formRegister').bootstrapValidator({
        
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            firstName: {
                validators: {
                    stringLength: {
                        min: 1,
						max: 32,
						message: 'minimal 1 maksimal 32'
                    },
                        notEmpty: {
                        message: 'Nama depan harus di isi'
                    }
                }
            },
             lastName: {
                validators: {
                     stringLength: {
                        min: 1,
						max: 32,
						message: 'minimal 1 maksimal 32'
                    },
                    notEmpty: {
                        message: 'Nama belakang harus di isi'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Email harus di isi'
                    },
                    emailAddress: {
                        message: 'Email salah'
                    },
					callback: {
						message: 'Email sudah digunakan',
                            callback: function(value) {
							promise5 = webService.filterDisplayPromiseJson ('customers','email',value);
							 promise5.success(function(data, statusText, err){
							
								if(data == 0){
									return true;
								}else{
								//console.log(data.customers["0"].email);
									var email111 = $(data)["0"].customers["0"].email;
								}
							
								return 0;
							});
							
							
                                if (value == 1) {
								
                                    return false;
                                }
								
                                return true;
                            }
                        }
                }
            },
			password: {
                validators: {
                    notEmpty: {
                        message: 'Password harus di isi'
                    },
					stringLength: {
                        min: 6,
						max: 200,
						message: 'minimal 6 maksimal 200'
                    },
                }
            },
           
            comment: {
                validators: {
                      stringLength: {
                        min: 10,
                        max: 200,
                        message:'Panjang karakter antara 1 sampai 200'
                    },
                    notEmpty: {
                        message: 'Kolom harus di isi'
                    }
                    }
                }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#formRegister').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
		
$( "button" ).click(function() {

});
	$.ajaxSetup({ cache: true });
</script>