<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Go-Obat</title>
      	<link rel="stylesheet" href="../../css/custom.css">
	<link rel="stylesheet" href="../../css/jquery.mobile-1.4.5.min.css">
	
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
	
		<div class="menu-navbar-fixed-top">
			<div class="header-navbar-col-3">
					<a href="javascript:history.back()"><img src="../../img/left-arrow.svg"> </img></a>
			</div>
			<div class="header-navbar-col-3">
					<span>Detail Produk</span>
			</div>
			<div class="header-navbar-col-3">
					<a href="javascript:history.back()"><img src="../../img/ic_search_black_24px.svg"> </img></a>
			</div>
		</div>

		<div data-role="content" >
		<div data-role="popup" id="popupProduct" class="ui-content"  >
		
		<div id="btn-close">
			<a href="#" data-rel="back"  data-icon="delete" ><img src="../../img/close-button.svg"> </img></a>
		</div>
		<div style="background-color:red">
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
		  <p>Here is a <strong>tiny popup</strong> being used like a tooltip. The text will wrap to multiple lines as needed.</p>
			<a id="modalAddtoCart" data-ajax="false"	></a> 
			</div>
		<div> Lanjutkan ke pembayaran</div>
			<div> Tambah barang lainnya</div>
		</div>
	   
		
		<div  class='container-product'>
        </div>
		</div>
		<div class="menu-navbar-fixed-bottom" data-position="fixed" >
			<div class="parent">
				<div id='fa-heart'>
						<object oa-reusable-svg
							data="../../img/hearts.svg"
							type="image/svg+xml"
							class="svg-heart" width="30%">
						 </object>
					
				</div>
			</div>
			<div class="parent">
				<div id='addTocart'>
					<span >Masukan Ke Trolli</span>
				</div>
			</div>
			<div class="parent">
				<div id='buy'>
				
					<span><a href="#popupProduct" data-rel="popup"  data-position-to="window" data-transition="pop" >Beli Obat</a></span>
				</div> 
			</div> 
			
		</div>

    <script src="../../js/webservice.js"></script>
    <script src="../../js/js/jquery-1.11.0.min.js"></script>
    <script src="../../js/form.js"></script>
    <script src="../../js/array.js"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/md5.min.js"></script>
    <script src="../../controller/auth.js"></script>

  </body>
</html>


<script type="text/javascript">


    $_GET('id','id_supplier','idCustomer');

    function $_GET(param) {
        var vars = {};

        window.location.href.replace( location.hash, '' ).replace( 
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
			function( m, key, value ) { // callback
				vars[key] = value !== undefined ? value : '';
			}
		);

		if ( param ) {
			return vars[param] ? vars[param] : null;	
		}
		
		return vars;
	}
	
	/**
	    * Declare @vars to $var
	*/
    
	var idProduct = $_GET().id;
    var idSupplier = $_GET().id_supplier;
    
	$('.container-product').load("product.html");
	
	$( "#modalAddtoCart" ).click(function() {
	console.log(idProduct);

		var objectName = 'carts';	
		if (idCart == 0){
	
			objectData[1][1] = localStorage.getItem('idAddress'); 
			objectData[1][2] = localStorage.getItem('idAddress');
			objectData[1][3] = 2;
			objectData[1][4] = localStorage.getItem('idCustomer');
			objectData[1][6] = 2;
			objectData[1][19] = idProduct;
			objectData[1][22] = 1;	
			localStorage.setItem('qtyProductCart',objectData[1][22]);
			$("#modalAddtoCart").attr("href","orders.html?step=1");			
			webService.create(objectName); 	
		}
		else{	
			objectData[1][19] = idProduct;
			objectData[1][20] = 0;
			objectData[1][22] = $("#qtyProductCart").val();
			localStorage.setItem('qtyProductCart',objectData[1][22]);
			$("#modalAddtoCart").attr("href","orders.html?step=1");
			webService.updateId(objectName,idCart);
		}

	});
</script>