<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Go-Obat">
    <meta name="author" content="Go-Obat">
    <meta name="keywords" content="">

    <title>
        Go-obat
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/owl.carousel.css" rel="stylesheet">
    <link href="../../css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="../../css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="../../css/custom.css" rel="stylesheet">

    <script src="../../js/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>

    <div id="all">

        <div id="content">
            <div class="container">
				<div class="col-md-9" id="checkout">
                    <div class="box">
                            <h2>REKAPITULASI TROLI BELANJA</h2>
							<p class="text-muted">Berikut daftar belanja Anda : <span class="hidden-sm" id="amount"></span> produk.</p>
                            <ul class="nav nav-pills nav-justified">
								<li id="orderReview1" class="disabled"><a href="#"><i class="fa fa-eye"></i><br>01. Rekap</a>
                                </li>
                                <li id="address" class="disabled"><a href="#"><i class="fa fa-map-marker"> -</i><i class="fa fa-truck"></i><br>02. Alamat & Pengiriman</a>
                                </li>
                                <li id="paymentMethod" class="disabled"><a href="#"><i class="fa fa-money"></i><br>03. Pembayaran</a>
                                </li>
                                <li id="orderReview2" class="disabled"><a href="#"><i class="fa fa-eye"></i><br>04. Order Review</a>
                                </li>
                            </ul>

                            <div class="content">
								<div id='order1'>
					
								</div>
								<div id='order2'>
								</div>
								<div id='order3'>
								</div>
								
								<div id='order4'>
								</div>
								
								<div id='order5'>
								</div>
                                <!-- <div class="table-responsive"> -->
                                   

                                <!-- </div> -->
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.content -->

                            <div class="box-footer">
                                <div class="pull-left">
                                    <a id='sebelumnya' class="btn btn-default"><i class="fa fa-chevron-left"></i>Sebelumnya</a>
                                </div>
                                <div class="pull-right">
                                    <a  type="submit" id='selanjutnya' class="btn btn-primary">Selanjutnya<i class="fa fa-chevron-right"></i>
                                    </a>
                                </div>
                            </div>
                    </div>
                    <!-- /.box -->
                </div>
                 <div class="col-md-3">

                    <div class="box" id="order-summary">
                        <div class="box-header">
                            <h3>Ringkasan</h3>
                        </div>
                        <!-- <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p> -->

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
								    <tr class="summary">
										<td>Total:</td>
										<td id="total_price"></td>
										<td id="total_quantity"></td>
										<td class="second"></td>
										<td class="third"></td>
									</tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2016 Go-obat</p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="../../js/js/jquery-1.11.0.min.js"></script>
    <script src="../../js/js/bootstrap.min.js"></script>
    <script src="../../js/js/jquery.cookie.js"></script>
    <script src="../../js/js/waypoints.min.js"></script>
    <script src="../../js/js/modernizr.js"></script>
    <script src="../../js/js/bootstrap-hover-dropdown.js"></script>
    <script src="../../js/js/owl.carousel.min.js"></script>
    <script src="../../js/js/front.js"></script>
</body>

</html>
<script src="../../js/webservice.js"></script>
 <script type="text/javascript">
webService.initialize();

var idCustomer = localStorage.getItem('idCustomer'); 
if( idCustomer == null){
	window.location.href = "../Auth/register.html?back=1";
}
var guest = 0;
if(guest !=0){
	$("#order1").collapse('show');
}else if(idCustomer!= 0){
	$("#order1").collapse('show');
	$('#order1').load("order1.html");
}

 var cart = ['id_customer',idCustomer];		
//var product = webService.readIdJson('products',idProduct).product;		
 var carts = webService.search('carts', cart);		
		
  var idCart= carts[carts.length-1];		
  var xmlCart = webService.readId('carts',idCart);		
  var cartRow = $(xmlCart).children().children()[0].children[19].children[0].children;		
 
 $("#amount").append(cartRow.length);
 
 
    function $_GET(param) {
        var vars = {};

        window.location.href.replace( location.hash, '' ).replace( 
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
			function( m, key, value ) { // callback
				vars[key] = value !== undefined ? value : '';
			}
		);

		if ( param ) {
			return vars[param] ? vars[param] : null;	
		}
		
		return vars;
	}
	
	/**
	    * Declare @vars to $var
	*/
	function step1(){
		for (i=0 ; i<cartRow.length ; i++){
			//Program Cek cart produk, kalo produk di cart ga ada di database, produk di cart di apus, kalo ada, lanjut
			/*
			var filterArray = ['id',cartRow[i].children[0].textContent];
			var check = webService.search('products',filterArray);
			if(check[0] === 0){
				cartRow[i].parentNode.removeChild(cartRow[i]);
				var textData = webService.xmlToString(xmlCart);
				$.ajax({
					url: urlapi + 'carts' + '/' + idCart,
					type: 'put',
					dataType: 'text',
					data : textData,
					success: function(){
					},
					error: function(){
					}
				});
				continue;
			}	
			*/
						
			$.ajax({
			url: urlapi + 'products' + '/' + cartRow[i].children[0].textContent + '?output_format=JSON',
			type: 'get',
			dataType: 'json',
			
			success: function(tempJSON){
				product = tempJSON.product;
				IdImage = product.associations.images["0"].id;
				getImgProduct = urlapi+"images/products/"+product.id+"/"+IdImage+"/cart_default?ws_key="+key;
				qty = webService.readIdJson("stock_availables",product.associations.stock_availables["0"].id).stock_available.quantity;
				qty1 = webService.readIdJson("stock_availables",product.associations.stock_availables["0"].id).stock_available.quantity;
				if(qty > 0){
					qty = "Stok Ada";
				}else{
					qty = "Stok Kosong";
				}
				var total = parseInt(product.price);
				var html = ""+
				"<tr clas='rowCarts'>"+
					"<td id='imgsProduct'>"+
						"<img src='"+getImgProduct+"'></img>"+
					"</td>"+
					
					"<td colspan='2' id='productName' style='text-align: center;'>"+
						"<b><h5>"+product.name+"</h5></b>"+
						"<br> SKU :"+product.reference+
						"<br> Satuan Produk : "+product.unity+
					"</td>"+
					
					"<td style='text-align: center;' class='quantity'>"+
						qty+
					"</td>"+
					
					"<td style='text-align: center;' class='price'>"+
						"Rp. "+parseInt(product.price)+
					"</td>"+
					
					"<td>"+
						
						"<input type='number' value='' min='1' max='' class='form-control' ></input>"+
					"</td>"+
					
					"<td style='text-align: center;' id='total'>"+
						total+	
					"</td>"+
				"</tr>";
				$("#products").append(html); 
			//	console.log( product.id);
			},
			error: function(){
			}
		});	

		}
		
		var sum = 0;
        var quantity = 0;
        $('.rowCarts').each(function() {
            sum += (parseInt($('.price').val(), 10)*parseInt($('.price').val(), 10));
            quantity += parseInt($('.quantity').val(), 10);
        });

        $('#total_price').html(sum);
        $('#total_quantity').html(quantity);
	}
	var step = $_GET().step;
	
	switch (step) {
		case '1':
		case '1#':
			step1();
			$("#sebelumnya").collapse('hide');			
			$("#selanjutnya").attr("href","?step=2");
			$("#orderReview1").attr("class","active");
			break; 
		case '2' || '2#':
		
			$('#order2').load("order2.html");
			$("#sebelumnya").attr("href","?step=1");
			$("#selanjutnya").attr("href","?step=3");
			$("#order1").collapse('hide');
			$("#address").attr("class","active");
			console.log('Alamat	');
			break; 
		case '3' || '3#':		
			$('#order3').load("order3.html");
			$("#order1").collapse('hide');
			$("#order2").collapse('hide');
			$("#paymentMethod").attr("class","active");
			$("#selanjutnya").attr("href","?step=4");
			console.log('kirim');
			break;
		case '4' || '4#':		
			$('#order4').load("order4.html");
			$("#selanjutnya").attr("href","?step=5");
			console.log('kirim');
			break; 
		case '5' || '5#':		
			$('#order5').load("order5.html");

			$("#selanjutnya").attr("href","?step=5");
			console.log('kirim');
			break; 
		default: 
			step;
	}
 </script>