<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Go-Obat">
    <meta name="author" content="Go-Obat">
    <meta name="keywords" content="">

    <title>
        Go-obat
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/animate.min.css" rel="stylesheet">
    <link href="../../css/owl.carousel.css" rel="stylesheet">
    <link href="../../css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="../../css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="../../css/custom.css" rel="stylesheet">

    <script src="../../js/js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>

    <div id="all">

        <div id="content">
            <div class="container">

				<div id='order1' hidden="true">
					<div class="col-md-12">
						<ul class="breadcrumb">
							<li><a href="#">Berand</a>
							</li>
							<li>01. Rekap</li>
						</ul>
					</div>

					<div class="col-md-9" id="basket">

						<div class="box">

							<form method="post" action="checkout1.html">

								<h1>REKAPITULASI TROLI BELANJA</h1>
								<p class="text-muted">You currently have 3 item(s) in your cart.</p>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th colspan="2">Product</th>
												<th>Quantity</th>
												<th>Unit price</th>
												<th>Discount</th>
												<th colspan="2">Total</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<a href="#">
														<img src="img/detailsquare.jpg" alt="White Blouse Armani">
													</a>
												</td>
												<td><a href="#">White Blouse Armani</a>
												</td>
												<td>
													<input type="number" value="2" class="form-control">
												</td>
												<td>$123.00</td>
												<td>$0.00</td>
												<td>$246.00</td>
												<td><a href="#"><i class="fa fa-trash-o"></i></a>
												</td>
											</tr>
											<tr>
												<td>
													<a href="#">
														<img src="img/basketsquare.jpg" alt="Black Blouse Armani">
													</a>
												</td>
												<td><a href="#">Black Blouse Armani</a>
												</td>
												<td>
													<input type="number" value="1" class="form-control">
												</td>
												<td>$200.00</td>
												<td>$0.00</td>
												<td>$200.00</td>
												<td><a href="#"><i class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th colspan="5">Total</th>
												<th colspan="2">$446.00</th>
											</tr>
										</tfoot>
									</table>

								</div>
								<!-- /.table-responsive -->

								<div class="box-footer">
									<div class="pull-left">
										<a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
									</div>
									<div class="pull-right">
										<button class="btn btn-default"><i class="fa fa-refresh"></i> Update basket</button>
										<button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
										</button>
									</div>
								</div>

							</form>

						</div>
						<!-- /.box -->

					</div>
					<!-- /.col-md-9 -->

					<div class="col-md-3">
						<div class="box" id="order-summary">
							<div class="box-header">
								<h3>Order summary</h3>
							</div>
							<p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>

							<div class="table-responsive">
								<table class="table">
									<tbody>
										<tr>
											<td>Order subtotal</td>
											<th>$446.00</th>
										</tr>
										<tr>
											<td>Shipping and handling</td>
											<th>$10.00</th>
										</tr>
										<tr>
											<td>Tax</td>
											<th>$0.00</th>
										</tr>
										<tr class="total">
											<td>Total</td>
											<th>$456.00</th>
										</tr>
									</tbody>
								</table>
							</div>

						</div>


					</div>
					<!-- /.col-md-3 -->
				</div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2016 Go-obat</p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->


    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="../../js/js/jquery-1.11.0.min.js"></script>
    <script src="../../js/js/bootstrap.min.js"></script>
    <script src="../../js/js/jquery.cookie.js"></script>
    <script src="../../js/js/waypoints.min.js"></script>
    <script src="../../js/js/modernizr.js"></script>
    <script src="../../js/js/bootstrap-hover-dropdown.js"></script>
    <script src="../../js/js/owl.carousel.min.js"></script>
    <script src="../../js/js/front.js"></script>
</body>

</html>
<script src="../../js/webservice.js"></script>
 <script type="text/javascript">
 var key = "ARMMR8JEW5FLK7AS63FLHUU72I29QDXP";
	var urlapi = 'http://' + key + '@go-obat.com/markets/api/';
	$.ajaxSetup({
		cache: true ,
		beforeSend: function(xhr) {
		   xhr.setRequestHeader('Authorization', ("Basic "
                        .concat(btoa(key))));
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
					xhr.setRequestHeader("Allow", "GET, HEAD, PUT, DELETE, POST");
			
			<!-- xhr.setRequestHeader('Authorization', '...'); -->
		},
	});
  $_GET('idProduct');

    function $_GET(param) {
        var vars = {};

        window.location.href.replace( location.hash, '' ).replace( 
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
			function( m, key, value ) { // callback
				vars[key] = value !== undefined ? value : '';
			}
		);

		if ( param ) {
			return vars[param] ? vars[param] : null;	
		}
		
		return vars;
	}
	
 
 <!-- alert(localStorage.getItem('idCustomer')+localStorage.getItem('idAddress')); -->
 <!-- var idCustomer = localStorage.getItem('idCustomer'); -->
 var idCustomer = localStorage.getItem('idCustomer');
 var idProduct = $_GET().idProduct;
 var guest = 1;
 console.log("id customer ="+idCustomer);
 
 if(guest !=0){
 $("#order1").collapse('show');
 }else if(idCustomer!= 0){
 $("#order1").collapse('show');
 }
 
 
 var cart = ['id_customer',idCustomer];
 var product = webService.readIdJson('products',idProduct).product;
 var carts = webService.search('carts', cart);

 var idcart= carts[carts.length-1];
 var getcart = webService.readIdJson('carts',idcart);
alert(getcart.cart.associations.cart_rows.length);
 
 
 
 </script>