

				<div class="row" id="productMain">
					<div class="col-sm-6">
						<div id="mainImage">
							<img src="../../img/logo.jpg" alt="" class="img-responsive">
						</div>

						<div class="ribbon sale">
							<div class="theribbon">SALE</div>
							<div class="ribbon-background"></div>
						</div>
						<!-- /.ribbon -->

						<div class="ribbon new">
							<div class="theribbon">NEW</div>
							<div class="ribbon-background"></div>
						</div>
						<!-- /.ribbon -->

					</div>
					<div class="col-sm-6">
						<div class="box">
							<h1 class="text-center" id='name'></h1>
							<p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
							</p>
							<p class="price">$124.00</p>

							<p class="text-center buttons">
								<a href="#" class="btn btn-primary" id='addtoCart'>
								<a href="#" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
							</p>


						</div>

						<div class="row" id="thumbs">
							<div class="col-xs-4">
								<a href="../../img/logo.jpg" class="thumb">
									<img src="../../img/logo.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="col-xs-4">
								<a href="../../img/logo.jpg" class="thumb">
									<img src="../../img/logo.jpg" alt="" class="img-responsive">
								</a>
							</div>
							<div class="col-xs-4">
								<a href="../../img/logo.jpg" class="thumb">
									<img src="../../img/logo.jpg" alt="" class="img-responsive">
								</a>
							</div>
						</div>
					</div>

				</div>


				
                <!-- /.col-md-9 -->

<script src="../../js/webservice.js"></script>
 <script type="text/javascript">


 


$_GET('id','id_supplier');
function $_GET(param) {
	var vars = {};
	http://192.168.1.153:3000/view/orders/index.html?id=189&id_supplier=0
	window.location.href.replace( location.hash, '' ).replace( 
		/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
		function( m, key, value ) { // callback
			vars[key] = value !== undefined ? value : '';
			
		}
	);

	if ( param ) {
		return vars[param] ? vars[param] : null;	
	}
	
	return vars;
}
<!-- console.log($_GET().id+' '+$_GET().id_supplier); -->

var idProduct = $_GET().id;
var idSupplier = $_GET().id_supplier;
var description = $_GET().description;
 var data = webService.readIdJson('products',idProduct).product;

 var idStock = data.associations.stock_availables["0"].id
 $("#name").prepend(data.name);

var stockAvailables = webService.readIdJson('stock_availables',idStock).stock_available;
var qty = stockAvailables.quantity;
console.log(data.description);


var currentURL = window.location.href;

 
 if (qty < 1){
 console.log('stok tidak tersedia');
 $("#addtoCart").attr("disabled","disabled");
 $("#addtoCart").prepend('<i class="fa fa-exclamation-triangle"></i>Kosong</a> ');
 }else{
  console.log('stok tersedia');
  $("#addtoCart").prepend('<i class="fa fa-shopping-cart"></i> Add to cart</a> ');
 
 }
  $("#details").prepend( data.description);
$( "#addtoCart" ).click(function() {

		objectData[1][1] = 55;
		objectData[1][2] = 55;
		objectData[1][3] = 2;
		objectData[1][4] = 68;
		objectData[1][6] = 2;
		objectData[1][19] = idProduct;
		objectData[1][22] = 1;
		console.log(objectData[5][7]);
		webService.create('carts');
		console.log(objectData);	
		
	});
	var idCustomer = 68;
	var idAddress;
	dataJson = webService.readJson('addresses');
	console.log(dataJson);
	dataIdJson = webService.readIdJson('addresses','2');
	console.log(dataIdJson);
	for(i=0;i<dataJson.addresses.length;i++){
		dataIdJson = webService.readIdJson('addresses',dataJson.addresses[i].id);
		if (dataIdJson.address.id_customer == idCustomer){
			idAddress = dataIdJson.address.id;
			break;
		}
	}
	
	var addressCustomer = webService.readIdJson('addresses',idAddress).address;
	console.log(addressCustomer.city);
	$("#details").prepend( addressCustomer.city);
 </script>