				<div class="row" id="productMain">
					<div class="col-sm-6">
						<div id="mainImage">
							<img alt="" class="img-responsive imgProduct">
						</div>

						<div class="ribbon sale">
							<div class="theribbon">SALE</div>
							<div class="ribbon-background"></div>
						</div>
						<!-- /.ribbon -->

						<div class="ribbon new">
							<div class="theribbon">NEW</div>
							<div class="ribbon-background"></div>
						</div>
						<!-- /.ribbon -->

					</div>
					<div class="col-sm-6">
						<div class="box">
							<p class="productName" >
							<span class="text-center" id='productName'></span>
							</p>
							<p class="productReference" >
							<span class="text-center"><h4>Kode SKU</h4></span>
							<ul>
								<li id='reference'></li>
							</ul>
							</p>
							<p class="productStock" >
							<span class="text-center"><h4>Stok tersedia</h4></span>
							<ul>
								<li id='stock'></li>
							</ul>
							<span class="text-center" id="idCustomer"><h4>idCustomer</h4></span>
							<ul>
								<li id='stock'></li>
							</ul>
							</p>
							<p class="descriptionShort" >
							<span class="text-center"><h4>Deskripsi singkat</h4></span>
							<span class="text-center" id='description_short'></span>
							</p>
							
							<p class="price" >
								<p class="our_price_display" itemprop="offers" itemscope="" itemtype="https://schema.org/Offer">
								<link itemprop="availability" href="https://schema.org/InStock">
								<span id="our_price_display" class="price" itemprop="price" ></span>
								<meta itemprop="priceCurrency" content="IDR"></p>
							</p>

							<p class="text-center buttons">
								<a href="#" class="btn btn-primary" id="modalAddtoCart" data-toggle="modal" >
								<a href="#" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
							</p>
						</div>
					</div>
				<div class="modal fade" id="addtoCart-modal" tabindex="-1" role="dialog" aria-labelledby="addtoCart" aria-hidden="true">
					<div class="modal-dialog modal-sm">

						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<img  alt="" class="img-responsive imgProduct"><p></p>
								<h4 class="modal-title productName" id="productName"></h4>
							</div>
							<div class="modal-body">
									<p class="text-center">
										<h4 class="modal-title qtr">Jumlah</h4>
									</p>
									<p class="text-center" id='confirm' aria-hidden="true">
									<button class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-sign-in"></i>Lanjut belanja</button>
									<a class="btn btn-primary" id="addtoCart" ><i class="fa fa-sign-in"></i>Lanjutkan pembayaran</a>
									</p>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade" id="loginPopup" tabindex="-1" role="dialog" aria-labelledby="addtoCart" aria-hidden="true">
					<div class="modal-dialog modal-sm">
	
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
									<p class="text-center">
										<h4 class="modal-title qtr">Login</h4>
										<iframe src="" style="zoom:0.60" frameborder="0" height="250" width="99.6%"></iframe>
									</p>
									
							</div>
						</div>
					</div>
				</div>

				</div>

				
				<script src="../../js/webservice.js"></script>

 <script type="text/javascript">
 $.ajaxSetup({
		cache: true ,
		beforeSend: function(xhr) {
		   xhr.setRequestHeader('Authorization', ("Basic "
                        .concat(btoa(key))));
                    xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
					xhr.setRequestHeader("Allow", "GET, HEAD, PUT, DELETE, POST");
			
			<!-- xhr.setRequestHeader('Authorization', '...'); -->
		},
	});
 
	 /**
		* get parameter product
	    *
		* @param  int  $id, $id_supplier
		* @return vars
	*/
	
    $_GET('id','id_supplier','idCustomer');

    function $_GET(param) {
        var vars = {};

        window.location.href.replace( location.hash, '' ).replace( 
            /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
			function( m, key, value ) { // callback
				vars[key] = value !== undefined ? value : '';
			}
		);

		if ( param ) {
			return vars[param] ? vars[param] : null;	
		}
		
		return vars;
	}
	
	/**
	    * Declare @vars to $var
	*/
    
	var idProduct = $_GET().id;
    var idSupplier = $_GET().id_supplier;
    
	
    /**
	    * Create var product to get details product with @param $id 
	    * @param vars 
		*
	    * @result JSON 
		* console.log(product);
		* declare @return to variable $product
		* console.log(idStock);
		* declared value id stock int $idStock
	*/
	var product = webService.readIdJson('products',idProduct).product;
	var idStock = product.associations.stock_availables["0"].id;
	
	/**
        * Create stockAvailables to get stock availables with @param int $idStock
		* @return JSON 
		* declared quantity of product int $qty
		* console.log(qty);
	*/
	var stockAvailables = webService.readIdJson('stock_availables',idStock).stock_available;
    var qty = stockAvailables.quantity;

	
	/**
	    * Validation button cart
		* console.log('stok tidak tersedia');
	*/
	if (qty < 1){
        
		$("#modalAddtoCart").attr("disabled","disabled");
		$("#modalAddtoCart").prepend('<i class="fa fa-exclamation-triangle"></i>Kosong</a> ');
	}else{
		$("#modalAddtoCart").prepend('<i class="fa fa-shopping-cart"></i> Masukan ke keranjang</a> ');
	}
	
	var idCustomer = localStorage.getItem('idCustomer');
	
	switch (idCustomer) {
		case null:
			$("#modalAddtoCart").attr("href","../Auth/register.html?back=1");
			break; 
		default: 
			$("#modalAddtoCart").attr("data-target","#addtoCart-modal");
	}
 
	/**
		* prepend $result[], $qty, $product to HTML  
		* Get id TagHTML example : <id="productName"> to javascript #productName
		* Get class TagHTML example : <class="productName"> to javascript .productName
	*/
	
	$(".productName").prepend(product.name);
	$("#idCustomer").prepend(idCustomer);
	$(".description").prepend(product.description);
	$("#stock").prepend( qty )
	$("#our_price_display").prepend( product.price);
	
	$("#description_short").prepend( product.description_short);
	
	$("#reference").prepend( product.reference);
	
  

	/**
	* Search id_customer di addresses untuk return id_address
	  Comment kalo ga kepake
	*/
	/*
	var objectName = 'addresses';
	var idCustomer = 35;
	var filterArray = ['id_customer',idCustomer];
	*/
	/**
	========================================================================================
	*/
	
	<!-- var addressCustomer = webService.readIdJson('addresses',idAddress).address; -->
	<!-- console.log(addressCustomer.id); -->
	<!-- $("#details").prepend( addressCustomer.city); -->
	
	var urlapi = 'http://' + key + '@go-obat.com/markets/api/';
	var apiIdImage = product.associations.images["0"].id;
	var loadImg = urlapi+"images/products/"+idProduct+"/"+apiIdImage+"/large_default?ws_key="+key;
	//alert(localStorage.getItem('idCustomer')+localStorage.getItem('idAddress'));
	$(".imgProduct").attr("src",loadImg);
	$("#our_price_display").attr("content",product.price);
	
	//localStorage.getItem('idCustomer')+
	console.log(localStorage.getItem('idCustomer'));
	/**
	    * select product, customer, addresse, currency, languages (default 2 indonesia), currency(default 2 IDR)
	*/
	
	$( "#modalAddtoCart" ).click(function() {
		var idCart = localStorage.getItem('idCart');
		var objectName = 'carts';
		if (idCart == 0){
			objectData[1][1] = localStorage.getItem('idAddress'); 
			objectData[1][2] = localStorage.getItem('idAddress');
			objectData[1][3] = 2;
			objectData[1][4] = localStorage.getItem('idCustomer');
			objectData[1][6] = 2;
			objectData[1][19] = idProduct;
			objectData[1][22] = qty;			
			webService.create(objectName);
			
		}
		else{
			objectData[1][19] = idProduct;
			objectData[1][20] = 0;
			objectData[1][22] = qty;
			webService.updateId(objectName,idCart);
		}
		$("#addtoCart").attr("href","orders.html?step=1");
		
		
	
		
	});

 </script>