/* =================================== Global ======================================= */
.col-1 {
	width: 8.33%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-2 {
	width: 16.66%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
}
.col-3 {
	width: 25%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-4 {
	width: 33.33%;
	position:relative;
	float: left;
	display: flex;
	height:2em;}
.col-5 {
	width: 41.66%;
	position:relative;
	float: left;
	display: flex;
	height:2em;}
.col-6 {
	width: 50%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-7 {
	width: 58.33%;
	position:relative;
	float: left;
	display: flex;
	height:2em;}
.col-8 {
	width: 66.66%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-9 {
	width: 75%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-10 {
	width: 83.33%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.col-11 {
	width: 91.66%;
	position:relative;
	float: left;
	display: flex;
	height:2em;}
.col-12 {
	width: 100%;
	position:relative;
	float: left;
	display: flex;
	height:2em;
	}
.header-navbar-col-3 {
	position:relative;
	float: left;
	display: flex;
	background-color: #F5F5DC;
	text-decoration: none;
	width:33.33333333%;
	height: 3em;

}
.header-navbar-col-3>span {
     color:#333333;
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
	 
    font-size: 1em;
	 
}
.header-navbar-col-3>a>img {
   width:33.33333333%;
	height: 100%;
	
	vertical-align: middle;
	padding-left:1em
	
	 
}
.header-navbar-col-4 {
	position:relative;
	float: left;
	display: flex;
	background-color: #F5F5DC;
	text-decoration: none;
	width:25%;
	height: 3em;

}

.header-navbar-col-4>span {
     color:#333333;
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
	 
    font-size: 1.5em;
	 
}
.menu-navbar-fixed-top{
	z-index:1030;
	height:3em;
	background-color:#F5F5DC;
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.menu-navbar-fixed-bottom{
	z-index:1030;
	height:3em;
	background-color:black;
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.container-body{
    background-color:black;
    
}
h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4 { 
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

/* =================================== slider ======================================= */
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;Caption Two
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* =================================== end slider ======================================= */
/* =================================== End Global ======================================= */
.panel-panel-header{

    width: auto;
    height: 3em;
	background-color:#ffffff;
}

.header-left-menu {
	position:relative;
	float: left;
	display: flex;
	/* Or whatever */
	text-decoration: none;
	
	height: 100%;
	vertical-align: middle;
	background-color:#ffffff;
	color:black;
}
.header-left-menu>object{
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
}.header-left-menu>span{
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
}
.parent>#addTocart>span{
	 color:#333333;
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
}
.icon-back-left-menu {
	position:relative;
	float: left;
	display: flex;
	/* Or whatever */
	background-color: #ffffff;
		padding-left:1em;
	text-decoration: none;
	width:33.33333333%;
	height: 100%;
	
	vertical-align: middle;
}
.icon-back-left-menu>img {

	width:33.33333333%;
	height: 100%;
	
	vertical-align: middle;
}.ui-block-c>img {

	width:33.33333333%;
	height: 100%;
	
	vertical-align: middle;
}
.panel-categories{
    width: auto;
    height: 100%;
    overflow: scroll;	
	background-color:red;
}


div#left-panel {
    position: fixed;
}
a.list-group-item:hover {
    background-color: #00b159;
	color:#ffffff;
}


.header-rectangle { 
	float:left;
    height: 120px;
    border: 3px solid #8AC007;
    position: relative; 
	height:2.5em;background-color:blue;border:1;	
}

.header-rectangle>.header-icon { 
 position: absolute;
    left: 0;
    width: 50%;
 margin: auto;
}
.header-rectangle>.header-label { 
 position: absolute;
    left: 0;
    width: 50%;
 margin: auto;
}
.navbar-fixed-top {
   overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height:3em
}
.navbarBottom {
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  width:33.33333333%;
  height:100%;
  
}
.parent {
	position:relative;
	float: left;
	display: flex;
	/* Or whatever */
	background-color: RED;
	
	text-decoration: none;
	width:33.33333333%;
	height: 100%;

}

.parent>img{
	text-align:center;
	display: block;
    margin: auto;
}
.parent>#fa-heart{
	position:relative;
	float: left;
	display: flex;
	text-decoration: none;
	height: 100%;
	vertical-align: middle;
	width:100%;
	height:100%;
	background-color:#ff7527;
}

#svg-heart{
text-align:center;
	display: block;
    margin: auto;
	vertical-align: middle;
		vertical-align: middle;
		width:100%;
	height:100%;
}
.svg-heart{
	text-align:center;
	display: block;
    margin: auto;
	vertical-align: middle;
}

.parent>#addTocart{
	position:relative;
	float: left;
	display: flex;
	text-decoration: none;
	height: 100%;
	vertical-align: middle;
	width:100%;
	height:100%;
	background-color:#ffbf00;
	text-align: center;
}
.parent>#buy{
	position:relative;
	float: left;
	display: flex;
	text-decoration: none;
	height: 100%;
	vertical-align: middle;
	width:100%;
	height:100%;
	background-color:#428bca;
}
.parent>#addTocart>span{
	 color:#333333;
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
}
.parent>#buy>span{
	 color:#ffffff;
	 display:block; 
	 vertical-align: middle;
	 margin: auto;
	 font-weight: bold;
}
#imgProductDetail{
	position:relative;
	background-color:blue;
	padding-top:1px;
	display:block;
	width:100px;
}

@media (max-width:1200px){
	.caption-product-lists{
		background: Darkgray;
		padding-right:0.5em;
		padding-left:0.5em;
		padding-top:0.5em;
		min-height:7em;
		max-height:7em;
		height:100% 
	}
	.container-products{
		background:#333333;	
		width:25%;
		float:left;
		position:relative;
		min-height:1px;
	}
}

@media (max-width:992px){
	
	.container-products{
		background:#333333;
		width:33.33333333%;
		float:left;
		position:relative;
		min-height:1px;
		}
	.caption-product-lists{
		background:Darkgray;
		padding-right:0.5em;
		padding-left:0.5em;
		padding-top:0.5em;
		min-height:7em;
		max-height:7em;
		height:100% 
	}
}

@media (max-width:768px){
	.container-products{
		background:#333333;
		width:50%;
		float:left;
		position:relative;
		min-height:1px;
	}
	.caption-product-lists{
		background:Darkgray;
		padding-right:0.5em;
		padding-left:0.5em;
		padding-top:0.5em;
		min-height:7em;
		max-height:7em;
		height:100% 
	}
}

/* ===================================
		Account
======================================= */

.navbar-fixed-bottom {
  overflow: hidden;

  position: fixed;
  bottom: 0;
  width: 100%;
   height: 3em; 
   text-align: center;
}
.menu-nav-fixed-bottom {
	position:relative;
	float: left;
	display: flex;
	/* Or whatever */
	background-color: #ffbf00;
	
	text-decoration: none;
	width:25%;
   height: 100%; 
}

#icon-home{
	text-align:center;
	display: block;
    margin: auto;
	vertical-align: middle;
		vertical-align: middle;
		width:100%;
	height:100%;
}

.header-navbar-col-4>object{
	text-align:center;
	display: block;
    margin: auto;
	
}
.header-navbar-col-4>object:hover {
    background-color: #00b159;
  
}
.header-navbar-col-4.home{
    background-color: #ffbf00;
  
}.header-navbar-col-4.home:hover{
    background-color: #00b159;
  
}
.container-account{
	 background-image: url("../img/account.jpg");
	 background-size: 100%;
    background-repeat: no-repeat;
	background-color:red;
	height: 10em;
	margin-top: 3em;
	
	padding-top:3em;
}
.container-account>.col-3{

	background-color:blue;

}.container-account>.col-6{

	background-color:green;

}
.
/* =================================== categorie ======================================= */
.container-categorie{
	padding-top:3em;
	  position: relative; 
	  color:#111111;
	  background-color:red;
	  height:100%
}
/* =================================== endcategorie ======================================= */

/* =================================== product ======================================= */
div#fa-heart:hover {
    background-color: none;
}
.ProductDetail{
	  position: relative; 
	  background-color:#333333;
	  color:#111111;
}
.container-product{
	padding-top:3em;
	  position: relative; 
	  color:#111111;
	  background-color:black;
	  height:100%
}
.container-product-tab{
	position: relative;
	  color:#111111;
	  background-color:black;
	  padding-left:0.5em;
	  padding-right:0.5em;
	  padding-bottom: 4em;
	  padding-top: 0.5em;
}
#product-img{
	background-color:white;
	width:100%;
	vertical-align: middle;
	text-align:center;
}
.show-product-img{
	width:20em;
	vertical-align: middle;
	text-align:center;
}
#description-product{
	background-color:#F5F5DC;
	width:100%;
	    display: flex;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: black;
    border-top-right-radius: 0.5em;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: Darkgray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;
    font-size: 17px;
	
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: white;
}
button.tablinks {
    width: 33.333%;
    border-top-right-radius: 1em;
	background-color:black
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 0.5em 0.5em;
    border: 1px solid #ccc;
    border-top: none;
	background-color:white
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.topright:hover {color: red;}
/* =================================== endproduct ======================================= */
/* =================================== Auth ======================================= */
.container-login{
	 background-size: 100%;	
    background-repeat: no-repeat;
	margin-top: 3em;
	
	padding-top:3em;
	padding-right:3em;
	padding-left:3em;
}
/* =================================== endAuth ======================================= */

